*.class

# package file
*.jar
*.war
*.ear

# kdiff3 ignore
*.orig

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpatch

# idea
out/
.idea/
/idea/
*.ipr
*.iws

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
